%widthMedia {
    width: 90%;
    transition: width .3s ease;
    @media (min-width: $sm) { width: 500px; }
    @media (min-width: $md) { width: 700px; }
    @media (min-width: $lg) { width: 930px; }
    @media (min-width: $xl) { width: 1140px; }
}

%gradientText {
    background: $gradient;
    background-clip: text;
    color: transparent;
}

.cbox-enter-active, .cbox-leave-active {
    transition: all .5s ease;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    &:after {
       opacity: 0;
    }
}
.cbox-enter, .cbox-leave-to {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(10px);
}