%widthMedia {
    width: 90%;
    transition: width .3s ease;
    @media (min-width: $sm) { width: 500px; }
    @media (min-width: $md) { width: 700px; }
    @media (min-width: $lg) { width: 900px; }
    @media (min-width: $xl) { width: 1100px; }
}

%gradientText {
    background: $gradient;
    background-clip: text;
    color: transparent;
}