$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$magenta: #E52E71;
$orange: #FF8A00;
$light: #ECECEC;
$dark: #343A40;
$text: #000000d9;

$grad0: #E52E71;
$grad1: #E6346A;
$grad2: #E93C60;
$grad3: #EB4554;
$grad4: #EF5047;
$grad5: #F25C3A;
$grad6: #F5682B;
$grad7: #F8721E;
$grad8: #FB7C13;
$grad9: #FD8408;
$grad10: #FF8A00;

$mont-light: "Montserrat-Light", sans-serif;
$mont-reg: "Montserrat-Regular", sans-serif;
$mont-bold: "Montserrat-Bold", sans-serif;
$muli-light: "Muli-Light", sans-serif;
$muli-reg: "Muli-Regular", sans-serif;
$muli-bold: "Muli-Bold", sans-serif;