@import './fonts';
@import './variables';
@import './shared';

body {
    padding: 0;
    margin: 0;
    background-color: $light;
    color: $dark;
    font-family: $mont-light;
    box-sizing: border-box;
}
.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main.router-view {
        flex-grow: 1;
        margin: 1rem auto;
        @extend %widthMedia;
    }
}

a {
    text-decoration: none;
    color: $dark;
    &:visited {
        color: $dark;
    }
}

.box-title {
    font-family: $mont-light;
    font-size: 1.25rem;
    margin-top: -.5rem;
}



/*
* VUE TRANSITION CLASSES
*/
.cbox-enter-active, .cbox-leave-active {
    transition: all .5s ease;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    &:after {
       opacity: 0;
    }
}
.cbox-enter, .cbox-leave-to {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(10px);
}