@import './fonts';
@import './variables';
@import '../components/home/welcome-animation/welcome-animation';


#nav {
    padding: 30px;
    a {
        font-family: "Montserrat-Light";
        color: #2c3e50;
        &.router-link-exact-active {
            color: $magenta;
        }
    }
}
h3 {
    font-family: "Muli-Light";
    font-weight: normal;
}